# Fichiers temporaires et generes par Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Platforms/*/Binaries/
Platforms/*/Intermediate/
Platforms/*/Build/

# Fichiers Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.sln
*.suo
*.sdf
*.opensdf
*.opendb
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace

# Divers
*.pdb
*.obj
*.log
*.tmp
.DS_Store
Thumbs.db
